$title: #111827;
$text: #374151;
$purple: #676AED;
$bannerTitle: #C8D3FD;
$backGround:#1F1C4A;
$bg: #EEF2FF;
$lightText: #6B7280;
$red: #EF4444;
$yellow: #FFC100;
$yellowTextHover: #BB6A02; 
$lightBg: #EEF2FF;
$green: #22C55E;
$borderRed: #DC2626;


h1, h2, h3, h4, h5, h6{
    color: $title;
}

p, span, input{
    color: $text;
}

label{
    color: $title;
}
