@media only screen   and (max-width:768px)  {
  .header{
    padding: 16px 11px;
    .menu-list{
      .menu-item{
        display: none;
      }
      .yellow-btn{
        margin: 0;
        padding: 6px 10px;
        span{
          font-size: 12px;
        }
        img{
          margin: 0 6px 0 0;
        }
      }
    }
    .logo-item{
      width: 179px;
      height: 32px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .mobile-menu{
      display: block;
    }
  }
  .announcement{
    .yellow-btn{
      width: 100%;
    }
  }
  .licenced{
    .text-list__container{
      flex-direction: column;
      align-items: flex-start;
      .text-list__block{
        width: 100%;
        margin: 12px 0 0;
        gap: 12px;
        &:first-child{
          margin: 0;
        }
      }
    }
  }
  .content__block{
    padding: 24px 20px;
  }
  .contact-form{
    .content__block{
      padding: 24px 20px;
    }
  }
  .contact-form{
    h2, p{
      text-align: start;
    }
    h2{
      margin: 0 0 16px;
    }
    p{
      margin: 0 0 40px;
    }
  }
  .page-common{
    h2{
      font-size: 32px;
      line-height: 40px;
    }
  }
  .copy-block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px; /* Öğeler arası boşluk */
  }


  .copy-block {
    grid-template-columns: 1fr 1fr; /* Daha geniş ekranlarda iki sütun */
    grid-template-rows: auto auto; /* Yüksekliği otomatik ayarla */
  }

  .copy-block__item:nth-child(3) {
    grid-column: 1 / span 2; /* Üçüncü öğe iki sütun boyunca yayılır */
  }
  .copy-block__item p{
    max-width: 312px;
  }

  .header.ds {
    padding: 20px 0;
}
.login {
  min-height: calc(100dvh - 252px);
  height: auto;
  display: flex;
}
.login-wrapper{
  width: 100%;
}
.footer-bottom-container.ds{
  height: 100%;
}
.login-form .title__cnt .title-item h2 {
  font-size: 32px;
  line-height: 40px;
}
}

@media only screen   and (max-width:700px){
  .announcement{
    .img__block{
      display: none;
    }
  }
}

@media only screen   and (max-width:640px){
  .footer-bottom-container{
    flex-direction: column-reverse;
    align-items: flex-start;
    .copy-right-block{
      flex-direction: column;
      align-items: flex-start;
      .copy-right-item{
        margin: 20px 0 0;
        &:first-child{
          margin: 0;
        }
      }
    }
    .social-menu{
      margin: 20px 0 0;
    }
  }
  .footer{
    .menu-list{
      flex-direction: column;
      align-items: flex-start;
      .menu-item{
        margin:16px 0 0 0;
        &:first-child{
          margin: 0;
        }
      }
    }
  }
  .img-card__block{
    .img-card__item{
      min-width: 272px; 
      height: 300px;
    }
  }
  .img-card__item{
    h3{
      font-size: 24px;
      line-height: 32px; 
      margin: 0 0 2px 0;
      letter-spacing: -0.48px;
    }
    p{
      font-size: 14px;
      line-height: 20px; 
    }
  }
  .img-card__text{
    padding: 22px;
  }
  .safe-area{
    padding: 0 11px;
  }
  .home__form{
    padding: 174px 0 0;
  }
  .contact-form{
    .content__block {
      margin: 0 11px;
    }
    p{
      font-size: 14px;
      line-height: 20px;
    }
  }
  .home__planet {
    top: 64px;
  }
  .input-block input, .sbx-item__slc, .input-block .select__item{
    height: 40px;
  }
  .input-block .gg-chevron{
    top: 34px;
  }
  .input-block textarea {
    height: 160px;
  }
  .about__cnt{
    .title-item{
      padding: 0 11px;
      margin:  0 0 8px;
      h1{
        font-size: 28px;
      }
    }
    .image-container{

      padding: 0 11px;


    }
    .about-wrapper{
      .mask-block{

      }
    }
    .text-container{
      padding: 0 11px;
      .text-item{
        margin: 0 0 24px;
      }

    }
    .content-container{
      padding: 0 11px;
    }
  }
  .aboutUs{
    padding: 0;
    .breadcrumb{
      padding: 16px 11px;
    }
  }
  .contact__cnt{
    margin: 24px 0 0;
    .title-item{
      margin: 0 0 8px;
      h1{
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
  .contactUs{
    .contact-form .content__block {
      padding: 24px 20px;
      margin: 24px 0;
    }
    .safe-area{
      padding: 0 11px 24px;
    }
  }
  .copy-block__item{
    padding: 24px 8px;
    height: 264px;
    p{
      font-size: 14px;
      line-height: 20px; 
    }
  }
  .light-yellow-btn{
    padding: 8px 12px;
    span {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

@media only screen and (max-width: 560px){
  .home__cnt {
    margin: 40px 0 0;
  }
  .banner{
    .text__title{
      margin: 0 0 4px;
    }
    .text__content{
      margin: 0 0 16px;
    }
  }
  .banner__text{
    .text__title{
      h3 {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px; 
        letter-spacing: -0.36px;
      }
    }
    .text__content{
      p {
        font-size: 32px;
        letter-spacing: -0.64px;
      }
    }
    .text__item p {
      font-size: 18px;
      line-height: 24px; 
      letter-spacing: -0.36px;
    }
  }
  .purple-btn{
    span{
      font-size: 14px;
      font-weight: 500;
      line-height: 16px; 
    }
  }
  .announcement{
    h2 {
      margin: 24px 0 0;
    }
    .yellow-btn{
      margin: 24px 0 0;
    }
  }
  .page-common{
    h2 {
      font-size: 28px;
      line-height: 36px; 
      letter-spacing: -0.56px;
      margin: 24px 0 16px;
    }
  }
  .content__block {
    margin: 16px auto 0;
  }
  .licenced{
    .text-list{
      .title {
        font-size: 20px;
        line-height: 28px; 
        letter-spacing: -0.4px;
      }
      .subTitle {
        margin: 24px 0 0;
      }  
    }
    .text-list__container{
      padding: 16px 0 0;
      margin: 8px 0 0;
      .text-list__block{
        gap: 8px;
      }
    }
    .text-list__item{
      align-items: center;
      p{
        font-size: 14px;
        line-height: 20px; 
      }
    }
  }
  .bussiness{
    .content__block {
      padding: 0 16px;
    }
  }
  .contact-form{
    .content__block {
      margin: 0 11px;
    }
  }
  .contact-form__btn{
    flex-direction: column;
    align-items: start;
    margin: 32px 0 0;
    .yellow-btn{
      margin: 16px 0 0;
      width: 100%;
    }
  }
  .login{
    .contact-form__btn{
      .yellow-btn{
        margin: 0;
      }
    }
  }
  .login-form .title__cnt .title-item h2 {
    font-size: 20px;
    line-height: 28px;
}
}

@media only screen and (max-width: 380px){
  .copy-block__item{
    p{
      font-size: 12px;
      line-height: 16px; 
    }
  }
}