@media only screen   and (max-width:1300px)  {
.header{
  padding: 16px 11px;
  .menu-list{
    .menu-item{
      margin: 0 0 0 24px;
      &:first-child{
        margin: 0;
      }
    }
  }
}
  .banner{
    padding: 32px 24px 24px 24px;
  }
  .safe-area{
    padding: 0 32px; 
  }
  .footer{
    padding: 48px 0;
  }
  .contact__form{
    padding: 0 32px;
  }
  .slider{
    .slider__container{
      margin: 0 12px;
    }
  }
}
.contactUs{
  padding: 0 16px;
}


@media only screen   and (max-width:1240px)  {
  .contact-form{
    .content__block{
      margin: 40px 32px 0;
    }
  }
  .about__cnt{
    .image-container{
      .text-item{
        p{
          font-size: 18px;
        }
      }
    }
    .text-container{
      .text-item{
        p{
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen   and (max-width:1200px)  {
  .login-container picture{
    width: 42%;
  }
  .login-form{
    width: 58%;
  }
  .home{
    .contact-form__block{
      .input-block{
        width: 318px;

        &.select{
          width: 318px;

        }
        &.text-area{
          width: 318px;

        }
      }
    }
  }
  .contact-form__item{
    width: unset;
  }
  .contactUs{
    .contact-form{
      .input-block{
        width: 380px;
        &.select{
          width: 380px;
        }
        &.text-area{
          width: 380px;
        }
      }
    }
  }
}

@media only screen   and (max-width:1024px)  {
  .banner{
    height: auto;
    .text__title{
      margin: 0 0 8px;
    }
    .text__content{
      margin: 0 0 24px;
    }
  }
  .banner__text{
    max-width: 100%;
    text-align:center;
  }
  .banner__img{
    width: 100%;
    margin: 32px 0 0;
  }
  .banner__content{
    flex-direction: column;

  }
  .aboutUs{
    padding: 0 ;
    .breadcrumb{
      padding: 16px 32px;
    }
  }
  .about__cnt{
    .title-item{
      padding: 0 32px;
    }
    .image-container{
      display: flex;
      flex-direction: column-reverse;
      padding: 0 32px;
      margin: 0;
      picture{
        margin: 0;
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text-item{
        width: 100%;
      }

    }
    .about-wrapper{
      .mask-block{
        height: 415px;
        left: -8%;
      }
    }
    .text-container{
      width: 100%;
      padding: 0 32px;
      .text-item{
        margin: 0 0 24px;
      }

    }
    .content-container{
      padding: 0 32px;
    }
  }
  .login-form{
    padding: 0 48px;
  }


}
@media only screen   and (max-width:991px)  {
  .banner__text{
    .text__content{
      p{
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
 .home__cnt{
   .announcement__block{
     width: 100%;
   }
 }
  .announcement{
    .img__block{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .img-card__block{
    overflow: hidden;
    .img-card__item{
      min-width: 380px;
    }
  }
  .home__planet{
    max-width: 480px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .home__form{
    padding: 190px 0 0;
  }
  .contactUs{
    .contact-form__block{
      flex-direction: column;
    }
    .contact-form{
      .input-block{
        width: 100%;
        &.select{
          width: 100%;
        }
        &.text-area{
          width: 100%;
        }
      }
    }
  }
}

@media only screen   and (max-width:860px){
  .home__cnt{
    margin: 56px 0 0;
  }
  .img-card h2{
    margin: 0 0 24px;
  }
  .content__block{
    margin: 32px auto 0;
  }
  .home{
    .contact-form__block{
      flex-direction: column;

      .input-block{
        width: 100%;
        max-width: none;

        &.select{
          width: 100%;
          max-width: none;
        }
        &.text-area{
          width: 100%;
          max-width: none;
        }
      }
    }
  }
  .contact-form__item{
    max-width: none;
  }
} 
@media only screen and (max-width:830px) {
  .header{
    .menu-list{
      .menu-item{
        display: none;
      }
      .yellow-btn{
        margin: 0;
        padding: 6px 10px;
        span{
          font-size: 12px;
        }
        img{
          margin: 0 6px 0 0;
        }
      }
    }
    .mobile-menu{
      display: block;
    }
  }
  .footer-top-container{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer{
    .menu-list{
      margin: 32px 0 0;
    }
  }
  .img-card__block{
    .img-card__item{
      min-width: 320px;
      height: 360px;
    }
  }
  .contact__cnt{
    margin: 32px 0 0;
    .title-item{
      margin: 0 0 12px;
      h1{
        font-size: 32px;
        line-height: 40px;
      }
    }
    p{
      font-size: 24px;
      line-height: 32px; 
      letter-spacing: -0.48px;
    }
  }
  .contactUs .contact-form .content__block {
    padding: 32px;
    margin: 32px 0;
  }

  .login-container picture{
    display: none;
  }
  .login-wrapper{
    height: auto;
  }
  .login{
    height: calc(100dvh - 252px);
  }
  .login-form{
    width: 100%;
    padding: 16px;
    .forgot-btn{
      margin: 16px 0 0;
    }
    .title-item{
      br{
        display: none;
      }
    }
    .title__cnt .title-item.small{
      margin: 8px 0 0;
    }
    .login-form__block{
      margin: 36px 0 0;
      gap: 16px;
    } 
    .contact-form__btn{
      margin: 36px 0 0;
    }
  }
  .header.ds {
    padding: 36px 0;
}
}

@media only screen and (max-height: 820px) and (min-width: 830px){
  .login-form{
    .contact-form__btn{
      margin: 24px 0 0;
    }
    &.check-email, &.new-pass{
      .contact-form__btn{
        margin: 24px 0 0;
      }
    }
    .text-list__block{
      gap: 8px;
    }
    .login__mail-text{
      margin: 8px 0 0;
    }
  }
}