*{
    font-family: "Roboto", sans-serif;
}
body{
    background: #EEF2FF;
    z-index: -10;
    position: relative;
}
.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.safe-area{
    max-width: 1180px;
    margin: 0 auto;
}


.page-common h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
}

.img-card__block{
    display: flex;
    gap: 20px;
}

.img-card{
    h2{
        margin: 0 0 40px;
    }
}

.img-card__item{
    width: 100%;
    position: relative;
    height: 420px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    img{
        transition: transform .2s;
    }
    &:hover img{
        transform: scale(1.2);
    }
    h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #fff;
        margin: 0 0 8px 0;
    }
    p{
        font-size: 16px;
        line-height: 24px;
        color: #fff;
    }
}

.img-card__text{
    background: linear-gradient(180deg, rgba(31, 28, 74, 0) 0%, #1F1C4A 100%);
    position: relative;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.img-card__bg{
    position: absolute;
    top: 0;
    left: 0;
}

.content__block{
    padding: 64px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 8px 24px -3px rgba(16, 24, 40, 0.05), 0px 8px 24px -3px rgba(16, 24, 40, 0.10);
    margin: 40px auto 0;
}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .slider__btn{
        padding: 8px;
        max-height: 38px;
        border: 1px solid $yellow;
        border-radius: 8px;
        background: transparent;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
        cursor: pointer;
        &:hover svg{
            stroke: $yellowTextHover;
        }
    }
    .slider__block{
        gap: 56px;
        display: flex;
        align-items: center;
    }
    .slider__container{
        max-width: fit-content;
        overflow: hidden;
    }
}
.breadcrumb{
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #D1D5DB;
    background: $lightBg;
    .icon-item{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 4px;
        a{
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        &:first-child{
            margin: 0;
        }
    }
    .text-item{
        margin: 0 0 0 4px;
        span{
            font-size: 14px;
            color: #4B5563;
            font-weight: 400;
            line-height: 16px;

        }
    }
}

.copy-block{
    display: flex;
    gap: 20px;
}

.copy-block__item{
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    padding: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: space-between;
    img{
        width: fit-content;
    }
    .copy-block__text{
        h2{
            color: $title;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px; 
            letter-spacing: -0.4px;
            margin: 16px 0 8px ;
        }
    }
    p{
        color: $title;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        max-width: 212px;
    }
}

.copy-block__text{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.step-line{
    gap: 1px;
    display: flex;
}

.step-line__item{
    height: 4px;
    width: 100%;
    background: #D1D5DB;
    &.active{
        background: #22C55E;
    }
}
.calendar-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
}

.calendar-section {
    width: 392px; /* Görseldeki takvim genişliği */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-list-section {
    width: 300px; /* Görseldeki etkinlik listesi genişliği */
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fc {
    max-width: 100%;
}

.fc-toolbar-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.fc-daygrid-day-number {
    color: #666;
    font-weight: bold;
    padding: 5px;
}

.fc-event {
    background-color: #ffc107;
    border: none;
    color: #333;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 14px;
}

.statistic{
    span{
        color: $title;
        font-size: 28px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.56px;
    }
    p{
        color: $title;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
    .statistic-item{
        border-radius: 8px;
        background: $bg;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .white-bg{
            padding: 16px;
            border-radius: 50%;
            background: #FFF;
            margin: 0 0 8px 0;
        }
    }
    .triple{
        display: grid;
        grid-template-columns: repeat(2, 218px);
        grid-template-rows: repeat(2, 153px);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        .statistic-item{
            &:nth-child(1){ grid-area: 1 / 1 / 2 / 2; }
        &:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
        &:nth-child(3) { grid-area: 2 / 1 / 3 / 3; }
        }
    }
}

.line-list__cnt{
    margin: 20px 0 0;
    p{
        color: $title;
        font-size: 14px;
        line-height: 20px;
    }
    .line-list__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #E5E7EB;
        &:first-child{
            border-top: 1px solid #E5E7EB;
        }
    }
    img{
        padding: 2px 4px;
        border-radius: 24px;
        background: $bg;
    }
}