.input-block{
    width: 100%;
    position: relative;
    .last{
        position: absolute;
        right: 12px;
        top: 38px;
        cursor: pointer;
    }
    .first{
        position: absolute;
        left: 12px;
        top: 38px;
    }
}

.input-block input, .sbx-item__slc, .input-block .select__item, .input-block textarea{
    width: 100%;
    height: 48px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    font-size: 14px;
    outline: none;
    -webkit-appearance: none;
    &::-webkit-input-placeholder {
        color: #9CA3AF;
    }
    &:hover, &.active{
        border: 1px solid #6B7280;
    }
    &:focus, &:focus &.active{
        box-shadow: 0px 0px 0px 4px rgba(225, 225, 254, 0.70);
        border: 1px solid #A7B6FA;
    }
}

.open .select__item{
    box-shadow: 0px 0px 0px 4px rgba(225, 225, 254, 0.70);
    border: 1px solid #A7B6FA;
    &:hover{
        border: 1px solid #A7B6FA;
    }
}

.input-block .select__item{
    cursor: pointer;
    display: flex;
    align-items: center;
    .disabled{
        color: #9CA3AF;
    }
}

.input-block textarea{
    height: 144px;
    padding: 12px;
}

.select{
    position: relative;
}

.input-block label, .sbx-item label{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; 
    margin: 0 0 8px;
    display: block;
}

.sbx-item__opn {
    display: none;
    position: absolute;
    top: 68px;
    border: 1px solid var(--black);
    width: 100%;
    left: 0px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    max-height: 200px;
    overflow: auto;
}

.sbx-item__opn_active {
    display: block;
}

.sbx-item__opt {
    padding: 10px 16px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #f3f3f3;
    cursor: pointer;
    color: #000;
}

.sbx-item__opt:hover {
    background-color: #f3f3f3;
    border-radius: 0 0 8px 8px;
}

.sbx-item__opt_not:hover {
  background-color: transparent;
}

.sbx-item__ph {
    color: #B0B0B0;
    font-size: 13px;
    font-weight: 400;
      /*  */
      width: 100%;
      border: none;
      height: 100%;
      outline: none;
    
}

.err-text{
    display: none;
}

.input-block.err{
    input, .select__item, textarea{
        border: 1px solid $red;
        margin: 0 0 8px 0;
    }
    .err-text{
        color: $red;
        font-size: 14px;
        line-height: 16px; 
        display: block;
    }
}

.input-block{
    .svg-input{
        padding: 0 12px 0 36px;
    }
}

.select__dropdown{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: white;
    padding: 8px;
    list-style: none;
    margin: 8px 0 0;
    z-index: 1;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 6px 15px -2px rgba(16, 24, 40, 0.08), 0px 6px 15px -2px rgba(16, 24, 40, 0.08);
}

.select__dropdown-item{
    color: #1F2937;
    font-size: 16px;
    line-height: 18px; 
    height: 36px;
    padding: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 4px 0 0;
    img{
        margin: 0 8px 0 0;
    }
    &.search{
        margin: 0;
    }
    &.search, &:hover{
        border-radius: 8px;
        background: #F3F4F6;
    }
}