.dashboard{
  position: relative;
  margin: 0 0 48px;

}

.dashboard-container{
  display: flex;
  gap: 20px;
}

.dashboard-content{
  border-radius: 8px;
  border: 1px solid  #E5E7EB;
  background: #FFF;
  padding: 20px;
  h2{
      color: $title;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      margin: 0 0 20px 0;
  }
}

.aside-menu{
  width: fit-content;
  padding: 20px 16px;
  background: #FFF;
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  h2{
    color:#737373;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; 
    padding: 8px 4px;
  }
  p{
    color:  #374151;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; 
    margin: 0 0 0 8px;
    cursor: pointer;
  }
  .coming-soon{
    color:  #374151;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px; 
    border-radius: 24px;
    background: #F3F4F6;
    padding: 2px 6px;
  }
  .aside-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    cursor: pointer;
    &.disabled{
      cursor: initial;
      p{
        color: #9CA3AF;
      }
    }
  }
  .aside-text__item{
    display: flex;
    align-items: center;
  }
  .aside-item{
    width: 248px;
    margin: 0 0 16px 0;
  }
}