.faq{
  margin: 0 auto 48px;
  background: $lightBg;
}
.faq__cnt{
  margin: 40px 0 0;
  .title-item{
    margin: 0 0 24px;
    h1{
      font-size: 40px;
      font-weight: 500;
      line-height: 48px;
      color: #111827;
    }
  }
.faq-block{
  border: 1px solid #E5E7EB;
  background: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px;
  margin: 8px 0 0;
  &:first-child{
    margin: 0;
  }
  .content-item{
    display: none;
    margin: 12px 0 0;
    p{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color:#6B7280 ;
    }
  }
  .title-item{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color:#111827;
    }

  }
  &.open{
    .content-item{
      display: block;
    }
    .title-item{
      span{
        color: #3F36BA;
      }
      svg{
        transform: rotate(180deg);
      }
    }
  }
}
}