.home__cnt{
    margin: 80px auto 0;
}

.home{
    background: $bg;
    position: relative;
}

.announcement{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        margin: 32px 0 0;
    }
    .yellow-btn{
        padding: 15px 20px;
        margin: 32px 0 0;
        span{
            font-size: 16px;
            line-height: 18px;
        }
    }
}
.licenced{
    .text-list__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #E5E7EB;
        padding: 26px 0 0;
        margin:16px 0 0;
        .text-list__block{
            width: 49%;
        }

    }
    .text-list{
        .title{
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            color: #111827;
        }
        .detail{
            line-height: 20px;
            margin: 12px 0 0;
            color: $lightText;
            font-size: 14px;
        }
        .subTitle{
            color: #3F36BA;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            margin: 32px 0 0;

        }
    }
    .text-list__block{
        margin: 0;
    }

}
.text-list__item{
    img{
        margin: 0 12px 0 0;
    }
}

.bussiness{
    .content__block{
        padding: 0 40px;
    }
}

.home__form{
    position: relative;
    padding: 270px 0 0;
    display: flex;
    justify-content: center;
    .contact-form{
        width: 100%;
    }
    form{
        max-width: 980px;
        margin: 0 auto;
    }
    .contact-form__block{
        .input-block{
            width: 380px;
            max-width: 380px;
            &.select{
                width: 580px;
                max-width: 580px;
            }
            &.text-area{
                width: 580px;
                max-width: 580px;
            }
        }
    }
}

.home__planet{
    position: absolute;
    top: 80px;
}

